

<!DOCTYPE html>
<html class="no-js">
    <head>
         <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        margin: 0;
        padding: 0;
        height: 100%;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
       
    </head>
    <body>
        <div class="container">

            {{{yield}}}
           
            <div id="footnotediv"></div>
        </div> <!-- /container -->
         <div id="map-canvas"></div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
         <script src="/js/map.js"></script>

    </body>
</html>