    <script src='http://static.opentok.com/v1.1/js/TB.min.js'></script>
    <script src='https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js'></script>
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" charset="utf-8">
      var apiKey = "28095782";
          var sessionId = "2_MX4yODA5NTc4Mn4xMjcuMC4wLjF-VHVlIE1heSAwNyAxMTowMToyMSBQRFQgMjAxM34wLjY0Nzc5NzR-";
          var token = "T1==cGFydG5lcl9pZD0yODA5NTc4MiZzZGtfdmVyc2lvbj10YnJ1YnktdGJyYi12MC45MS4yMDExLTAyLTE3JnNpZz00ZGNhZTRlODJjZDZiYjlkNzAyYTgwNjdhOTk0OWRjZjIwMGY5YTZiOnJvbGU9cHVibGlzaGVyJnNlc3Npb25faWQ9Ml9NWDR5T0RBNU5UYzRNbjR4TWpjdU1DNHdMakYtVkhWbElFMWhlU0F3TnlBeE1Ub3dNVG95TVNCUVJGUWdNakF4TTM0d0xqWTBOemM1TnpSLSZjcmVhdGVfdGltZT0xMzY3OTQ5Njg5Jm5vbmNlPTAuMTI0MTM5MTg2ODY5NDAxMjkmZXhwaXJlX3RpbWU9MTM2ODAzNjA4OSZjb25uZWN0aW9uX2RhdGE9";


      TB.addEventListener("exception", exceptionHandler);
      var session = TB.initSession(sessionId); // Replace with your own session ID. See https://dashboard.tokbox.com/projects
      session.addEventListener("sessionConnected", sessionConnectedHandler);
      session.addEventListener("streamCreated", streamCreatedHandler);
      session.connect(apiKey, token); // Replace with your API key and token. See https://dashboard.tokbox.com/projects
                                               // and https://dashboard.tokbox.com/projects

      function sessionConnectedHandler(event) {
         subscribeToStreams(event.streams);
         session.publish();
      }
      
      function streamCreatedHandler(event) {
        subscribeToStreams(event.streams);
      }
      
      function subscribeToStreams(streams) {
        for (var i = 0; i < streams.length; i++) {
          var stream = streams[i];
          if (stream.connection.connectionId != session.connection.connectionId) {
            session.subscribe(stream);
          }
        }
      }
      
      function exceptionHandler(event) {
        alert("Exception: " + event.code + "::" + event.message);
      }
      $(document).ready(function () {
        $('.OT_publisher').css('display','none');
        $('.OT_subscriber').css('position','absolute').css('right',0).css('top', 0);
      });
    </script>
    
    <iframe src="http://itp.nyu.edu" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>
